div.about{
    width: 260px;
    margin-left: 20px;
}

h2.heading{
    color:white;

}

img.about{
    width: 260px;
    height: 360px;
}


p.about{
    color:white;
    font-size: 20px;
}

div.resume{
    margin-left: 20px;
}


div.goals{
    margin-left: 20px;
}


button.resume{
    margin-left: 220px;
    width: 150px;
    height: 50px;
    background-color: rgb(44, 44, 44);

}

p.resume{
    color: white;
}